.layer-toggle {
    margin-right: 10%;
}

.cat-radio-btn-container img {
    height: 5vh;
}

.cat-radio-btn-container label {
    width: 70%;
    text-align: left;
}

.cat-radio-btn-container label span {
    font-size: 2vh;
    font-weight: 600;
}

.cat-radio-btn-container label span:first-child {
    height: 4vh;
}

.cat-radio-btn-container label span:last-child {
    margin-right: 50px;
}

.example-data-checkbox {

}

.example-data-checkbox span {
    font-size: 2vh;
    font-weight: 600;
}

.error-reload-btn {
    width: 50%;
    height: 20%;
    background-color: darkgray;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    color: black;
    cursor: pointer;
    font-size: 1em;
}

.error-reload-btn:hover {
    border: solid black 1px;
}