.main-controls-container{
    display: flex;
    position: relative;
    background: none;
    padding-top: 8vw;
    float: left;
    z-index: 1100;
  }

.globe-container{
    display: flex;
    position: relative;
    background: none;
    height: 100vh;
}

.button-container{
    position: fixed;
    display: flex;
}

.first-row-buttons{
    left: 2%;
    top: 22%;
}

.second-row-buttons{
    left: 2%;
    top: 29%;

}

.main-header{
    height: 8vw;
    width: 100%;
    position: fixed;
    z-index: 1200;
    text-align: center;
    background: none;
}

.controls-header{
    height: 3vw;
    width: 22%;
    position: fixed;
    text-align: center;
    background: none;
    left: 2%;
    top: 15%
}