/* -------------------------------------------- */
/* Main Page */
/* -------------------------------------------- */

.main-header{
    height: 8vw;
    width: 100%;
    position: fixed;
    z-index: 1200;
    text-align: center;
    background: none;
}

/* -------------------------------------------- */
/* Left Side Controls */
/* -------------------------------------------- */

.main-controls-container{
    display: flex;
    position: relative;
    background: none ;
    float: left;
    z-index: 1100;
    height: 100%;
  }

.controls-background{
    position: fixed;
    width: 20vw;
    max-width: 340px;
    height: 100%;
    background: rgb(250 250 250 / 0.6 );
    color: rgb(50 50 50);
    border-radius: 0 10px 10px 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.controls-header{
    height: 8%;
    padding-top: 10%;
    text-align: center;
    background: none;
}

.button-container{
    width: 100%;
    height: fit-content;
    padding-top: 5%;
    text-align: center;
    padding-bottom: 5%;
    margin-top: 10%;
}

.cat-radio-form-control {
    width: 95%;
    padding-left: 5% !important;
}

.cat-radio-btn-container {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    margin-bottom: 30px;
}

.example-data-check-container {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    border-top: black solid 1px;
}

/* -------------------------------------------- */
/* Left Side Controls Lower Buttons */
/* -------------------------------------------- */

.info-background{
    width: 20vw;
    max-width: 340px;
    height: 45%;
    justify-content: center;
    align-items: center;
}

.info-button-background{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: center;
    align-items: center;
    background: rgb(250 250 250 / 0.6 );
    border-radius: 10px;
}

.info-element{
    cursor: pointer;
    width: 45%;
    background: transparent;
    height: 70%;
    border-radius: 10px;
    text-align: center;
    margin: 0 0.5vw;
    font-size: 3vh;
    line-height: 100%;
}

.info-element:hover{
    font-weight: bold;
}

.info-separator-vertical{
    height: 60%;
    border-left: solid rgb(50 50 50) 2px;
}

.info-separator-horizontal{
    width: 100%;
    border-top: solid rgb(50 50 50) 1px;
}

/* -------------------------------------------- */
/* Right Side Event Viewer */
/* -------------------------------------------- */

.viewer-container{
    display: flex;
    position: relative;
    background: none ;
    float: right;
    z-index: 1100;
}

.viewer-background{
    position: fixed;
    width: 21vw;
    max-width: 350px;
    height: fit-content;
    background: rgb(250 250 250 / 0.6 );
    color: rgb(50 50 50);
    border-radius: 10px;
    left: 76.5%;
    top: 50%;
    transform: translateY(-50%);
}

.viewer-header{
    padding: 1vh 1vw 0 1vw;
    margin-bottom: 3vh;
    text-align: center;
    background: none;
    height: fit-content;
}

.viewer-label-container{
    padding-left: 2vw;
    overflow: scroll;

}

.viewer-text-container{

}

.geo-table-container{
    overflow: scroll;
    height: 300px;
}

.geo-table{
    width: 80%;
}

.info-table{
    font-size: 1.3em;
}

.info-table-right-column-td{
    padding-left: 0.5vw;
}

.data-table-row-outer{
    height: 5vh;
}

.data-table-row-inner{
    height: 3vh;
}

.data-table-outer-td-left{
    width: 5vw;
    font-weight: bold;
}

.data-table-outer-date{
    font-weight: bold;
    border-top: 1px solid rgb(50 50 50);
}

.data-table-inner-td-left{
    width: 7vw;
    font-weight: bold;
}

.source-btn-container{
    bottom: 0;
    display: flex;
    width: 100%;
    height: 8%;
    justify-content: center;
    align-items: center;
    background: rgb(250 250 250 / 0.6 );
    border-radius: 10px;
}

.source-btn-element{
    cursor: pointer;
    width: 100%;
    background: transparent;
    height: 70%;
    border-radius: 10px;
    text-align: center;
    margin: 0 0.5vw;
    font-size: 3vh;
    line-height: 100%;
}

.source-btn-element:hover{
    font-weight: bold;
}

/* -------------------------------------------- */
/* Center Globe */
/* -------------------------------------------- */

.globe-container {
    display: flex;
    position: relative;
    background: none;
    height: 100vh;
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* -------------------------------------------- */
/* About Element */
/* -------------------------------------------- */

.popup-container {
    display: flex;
    position: relative;
    background: none ;
    float: right;
    z-index: 1100;
}

.popup-background {
    position: fixed;
    width: 21vw;
    height: fit-content;
    background: rgb(250 250 250 / 0.9 );
    color: rgb(50 50 50);
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    text-align: center;
}

.popup-text-container {
    text-align: center;
}

.popup-text-container h4 {
    margin-bottom: 5px;
}

.popup-text-container p {
    margin-top: 5px;
}

.about-icon-table {
    width: 100%;
    table-layout: fixed;
}

.about-icon-table-left {
    text-align: right;
}

.about-icon-table-left img {
    margin-right: 5%;
}

.about-icon-table-right {
    text-align: left;
}

.about-icon-table-right img {
    margin-left: 5%;
}

