.main-controls-container{
    display: flex;
    position: relative;
    background: none ;
    float: left;
    z-index: 1100;
  }



.controls-background{
    position: fixed;
    width: 21vw;
    height: 40vh;
    background: rgb(211 211 211 / 0.4);
    border-radius: 10px;
    left: 2%;
    top: 15%;
}

.info-background{
    position: fixed;
    width: 21vw;
    height: 5vh;
    background: rgb(211 211 211 / 0.4);
    border-radius: 10px;
    left: 2%;
    top: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-element{
    cursor: pointer;
    width: 45%;
    background: transparent;
    height: 70%;
    border-radius: 10px;
    text-align: center;
    margin: 0 0.5vw;
    font-size: 3vh;
    line-height: 100%;
}

.info-element:hover{
    font-weight: bold;
}

.info-separator{
    height: 60%;
    border-left: solid rgb(211 211 211 / 0.6) 2px;
}

.viewer-container{
    display: flex;
    position: relative;
    background: none ;
    float: right;
    z-index: 1100;
}

.viewer-background{
    position: fixed;
    width: 21vw;
    height: 70vh;
    background: rgb(211 211 211 / 0.4);
    border-radius: 10px;
    left: 76.5%;
    top: 15%;
}

.viewer-label-container{
    padding-left: 2vw;
    overflow: scroll;
    height: auto;
}

.viewer-text-container{
    height: 90%;
}

.globe-container{
    display: flex;
    position: relative;
    background: none;
    height: 100vh;
}

.button-container{
    width: 80%;
    background: transparent;
    margin-top: 2vh;
    text-align: center;
}

.main-header{
    height: 8vw;
    width: 100%;
    position: fixed;
    z-index: 1200;
    text-align: center;
    background: none;
}

.controls-header{
    /*height: 3vw;*/
    /*width: 22%;
    position: fixed;*/
    padding-top: 1vh;
    text-align: center;
    background: none;
    /*left: 2%;
    top: 15%*/
}

.viewer-header{
    padding: 1vh 1vw 0 1vw;
    margin-bottom: 3vh;
    text-align: center;
    background: none;
    height: fit-content;
}

.geo-table{
    width: 80%;
}

.info-table{
    font-size: 1.3em;
}

.info-table-right-column-td{
    padding-left: 0.5vw;
}

.data-table-row-outer{
    height: 5vh;
}

.data-table-row-inner{
    height: 3vh;
}

.data-table-outer-td-left{
    width: 5vw;
    font-weight: bold;
}

.data-table-outer-date{
    font-weight: bold;
    border-top: 1px solid white;
}

.data-table-inner-td-left{
    width: 7vw;
    font-weight: bold;
}

.source-btn-container{
    height: 10%;
    text-align: center;
    padding-top: 1.5vh;
}