#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100vw;
  padding: 0px;
  max-height: 100vh;

  /*text-align: center;*/

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
}

.close-button {
  color: rgb(50 50 50);
  background: transparent;
  border: none;
  padding: 0;
  height: 5vh;
  width: 5vh;
  font-size: 5vh;
  float: right;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 2%
}