.main-h1{
    font-size: 8vh;
    margin: 0;
    text-align: center;
}

.controls-h2{
    font-size: 4vh;
    margin: 0 0 0 4.5vw;
    text-align: left;
}

.toggle-label{
    margin-left: 2vw;
    font-weight: bold;
}