.main-h1{
    font-size: 8vh;
    margin: 0;
    text-align: center;
}

.controls-h2{
    font-size: 5vh;
    margin: 0 !important;
    /*margin: 0 0 0 4.5vw;
    text-align: left;*/
}

.viewer-h2{
    font-size: 4vh;
    margin: 0 !important;
}

.toggle-label{
    margin-left: 2vw;
    font-weight: bold;
}

.viewer-category{
    text-align: center !important;
}

.viewer-id{

}

.viewer-geometry{
    text-align: left;
}
