.main-h1{
    font-size: 8vh;
    margin: 0;
    text-align: center;
    text-shadow:
            1px 1px 0 #000,
            -1px 1px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000;
}

.controls-h2{
    font-size: 5vh;
    margin: 0 !important;
}

.viewer-header-text{
    font-size: 4vh;
    margin: 0 5px !important;
    font-weight: bold;
}

.toggle-label{
    margin-left: 2vw;
    font-weight: bold;
}

.viewer-category{
    text-align: center !important;
}

.viewer-id{

}

.viewer-geometry{
    text-align: left;
}
